<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated model -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="it.disim.univaq.demo.webapplication.presentation.ModelModelWizardID"
            name="%_UI_ModelModelWizard_label"
            class="it.disim.univaq.demo.webapplication.presentation.ModelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ModelModelFile.gif">
         <description>%_UI_ModelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated model -->
      <editor
            id="it.disim.univaq.demo.webapplication.presentation.ModelEditorID"
            name="%_UI_ModelEditor_label"
            icon="icons/full/obj16/ModelModelFile.gif"
            extensions="model"
            class="it.disim.univaq.demo.webapplication.presentation.ModelEditor"
            contributorClass="it.disim.univaq.demo.webapplication.presentation.ModelActionBarContributor">
      </editor>
   </extension>

</plugin>
